/* TODO: move to footer.css */
footer {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-around;
  height: 3rem;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin-right: 2rem;
}

.footer__list-item > a {
  text-decoration: none;
}

.footer__list-item:last-child {
  margin-right: 0;
}
