*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #171717;
}

h2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.img--recipe {
  width: 48%;
  border: 0.2px solid #343334;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
  min-height: calc(100vh - 9rem);
}

.article__general {
  margin: 16px;
  margin-left: 32px;
}

.ul__general {
  padding: 0px;
  margin: 16px;
  margin-left: 32px;
  list-style-type: none;
}

.link__general {
  text-decoration: none;
  color: #2d74da;
}

.link__general:hover {
  text-decoration: none;
  color: #dc267f;
}

.li__general {
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #2d74da;
}

a:hover {
  text-decoration: none;
  color: #dc267f;
}

address {
  font-style: normal;
}
